# General
PROJECT_NAME=tahiche
RESTART=no
CODE_DIRECTORY=.

# User Identity (Run 'id -u' and 'id -g' on Linux)
USER_ID=1000
GROUP_ID=1000

# NGINX Configuration
NGINX_CONTAINER=tahiche_nginx
NGINX_DIRECTORY=./.docker/nginx
NGINX_CONFIG_DIRECTORY=./.docker/nginx/config
HTTP_PORT=8081
HTTPS_PORT=9443

# PHP Configuration
PHP_VERSION=8.3
PHP_CONTAINER=tahiche_php
PHP_CONFIG_DIRECTORY=./.docker/php
PHP_XDEBUG_MODE=debug

# MARIADB Configuration
MARIADB_VERSION=10.11
MARIADB_CONTAINER=tahiche_db
MARIADB_DATABASE=tahiche_db
MARIADB_ROOT_PASSWORD=root
MARIADB_USER=tahiche_user
MARIADB_PASSWORD=tahiche_pass
MARIADB_PORT=3399

# PHPMyAdmin Configuration
PHPMYADMIN_CONTAINER=tahiche_phpmyadmin
PHPMYADMIN_PORT=9081

# Node/TypeScript Configuration
NODE_CONTAINER=tahiche_node

# Application Configuration
DB_CONNECTION=mysql
DB_HOST=tahiche_db
DB_PORT=3306
DB_DATABASE=tahiche_db
DB_USERNAME=root
DB_PASSWORD=root
APP_DEBUG=false
APP_URL=http://localhost:8081
