parameters:
    level: 0
    paths:
        - src
        - Modules
    excludePaths:
        - Core
        - Tests
    bootstrapFiles:
        - Tests/bootstrap.php
    ignoreErrors:
        - '#Constant FS_FOLDER not found.#'
